@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700");
@media (min-width: 1200px) {
  .card {
    width: 34.5rem;
  }
}
.navbar-nav .nav-link, .navbar-nav .nav-link:hover {
  color: black;
  text-decoration: none;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
  font-weight: 600;
}

.grid > div:hover {
  background: var(--red);
  color: var(--white);
  cursor: pointer;
}

.nav-link:hover::after {
  content: "\a";
  display: block;
  width: 10px;
  height: 10px;
  background: var(--red);
  border-radius: var(--pad);
  margin: auto;
  margin-top: 0.25rem;
}

.card-img-top:hover {
  cursor: pointer;
}

.card .btn-primary:hover, .card .btn-primary:active {
  color: var(--white);
  border: 2px solid var(--red);
  background: var(--red);
}

.card .btn-primary:active,
.card .btn-primary:focus {
  border-color: var(--red);
  background-color: var(--red);
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5);
}

order-button svg:hover {
  width: 160px;
  cursor: pointer;
  transition: width ease-in 0.25s;
}

.card-img-top {
  height: 20vw;
  object-fit: cover;
  object-position: center;
}

.carousel-inner img {
  margin: auto;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

:root {
  --grey: #d6d6d6;
  --red: #ff0000;
  --body-font: "Montserrat", sans-serif;
  --white: #fff;
  --yellow: #FFE100;
  --pad: 12.5px;
}

* {
  font-family: var(--body-font);
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
}

.banner {
  background: url("../images/ChickenRepublic_HomePageBanner.jpg");
  padding: 0rem 2rem 6rem 2rem;
  border-radius: var(--pad);
}

.banner-text {
  color: var(--white);
}

.banner-text {
  width: 450px;
  word-wrap: break-word;
  display: block;
  padding-top: 5rem;
}

.banner-text h2 {
  text-transform: capitalize;
}

order-button svg {
  width: 150px;
}

triangle-icon svg {
  width: 20px;
  transform: rotate(90deg);
}

order-button svg path {
  fill: var(--red);
}

triangle-icon svg .triangle {
  fill: var(--yellow);
  stroke: var(--yellow);
  stroke-width: 80px;
}

order-button svg text {
  fill: var(--white);
  font-size: 25px;
  font-weight: 600;
  white-space: pre;
  text-align: center;
  padding-right: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 175px);
  grid-template-rows: 180px;
  grid-column-gap: 1.5rem;
  justify-content: center;
}

.view {
  display: grid;
  grid-template-columns: repeat(2, 175px);
  grid-template-rows: repeat(2, 180px);
  grid-column-gap: 1.5rem;
  justify-content: center;
}

.grid > div {
  background: var(--grey);
  border-radius: var(--pad);
  font-weight: 600;
}

.view > div img {
  width: 100%;
}

.grid > div img {
  width: 75px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.grid > div > span {
  text-align: center;
  font-size: 15.5px;
}

.grid > div > span::before {
  content: "\a";
  white-space: pre;
}

.navbar-brand img {
  width: 75px;
  height: 75px;
  background: var(--red);
  border-radius: 50%;
}

.navbar-nav .nav-link.active:after {
  content: "\a";
  display: block;
  width: 10px;
  height: 10px;
  background: var(--red);
  border-radius: var(--pad);
  margin: auto;
  margin-top: 0.25rem;
}

#order-section h2::after, #carousel h2::after {
  content: "";
  display: block;
  width: 3.5%;
  border-bottom: 5px solid var(--red);
  margin-left: 43%;
  padding-top: 3.5px;
}

#carousel h2::after {
  margin-left: 33%;
}

.card {
  margin-bottom: 2rem;
  justify-content: center;
}

.card-body {
  margin: auto;
}

.card .btn-primary {
  color: var(--red);
  border-radius: 50px;
  border: 2px solid var(--red);
  background: transparent;
  padding: 1rem 2rem;
  font-weight: 600;
}

.download, .q-links, .social-links {
  list-style-type: none;
}

.download, .social-links {
  display: flex;
}

footer .download, .q-links {
  justify-content: space-between;
}

.q-links {
  flex-wrap: wrap;
  max-width: 500px;
  white-space: nowrap;
}

.social-item {
  font-size: x-large;
  border: 0.25px solid grey;
  margin-right: 2.5rem;
  padding: 5px var(--pad);
  border-radius: 50%;
}

.social-item:nth-child(1) {
  padding: 5px 15px;
}

.q-item {
  padding: 5px 0px;
  font-weight: 600;
}

.q-item a, .end-row li a {
  color: black;
  text-decoration: none;
}

.end-row {
  display: flex;
  flex-wrap: wrap;
}

.end-row li {
  list-style: none;
  flex: 0 1 25%;
  white-space: nowrap;
}

.copy a {
  color: var(--red);
  text-decoration: none;
  font-weight: 600;
}

#mobile-app button {
  background: var(--red);
  border-radius: var(--pad);
  color: var(--white);
  padding: 10px;
  font-size: 20px;
}

#mobile-app a {
  color: var(--red);
}

/*# sourceMappingURL=main.css.map */
