@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700');
:root {
    --grey: #d6d6d6;
    --red: #ff0000;
    --body-font: 'Montserrat', sans-serif;
    --white: #fff;
    --yellow: #FFE100;
    --pad: 12.5px;
}

* {
    font-family: var(--body-font);
}

body, html {
    max-width: 100%;
    overflow-x: hidden;
}

.banner {
    background: url("../images/ChickenRepublic_HomePageBanner.jpg");
    padding: 0rem 2rem 6rem 2rem;
    border-radius: var(--pad);
    width: 1150px;
}

.banner-text {
    color: var(--white);
}

.banner-text {
   width: 450px;
   word-wrap: break-word;
   display: block;
   padding-top: 5rem;
}

.banner-text h2 {
    text-transform: capitalize;
}

order-button svg {
    width: 150px;
}

triangle-icon svg {
    width: 25px;
    transform: rotate(90deg);
}

order-button svg path {
   fill: var(--red);
}

triangle-icon svg .triangle {
    fill: var(--yellow);
    stroke: var(--yellow);
    stroke-width: 80px;
}

order-button svg text {
    fill: var(--white); 
    font-size: 25px;
    font-weight: 600; 
    white-space: pre;
    text-align: center;
    padding-right: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 175px);
    grid-template-rows: 180px;
    grid-column-gap: 1.5rem;
}

.grid > div {
    background: var(--grey);
    border-radius: var(--pad);
    font-weight: 600;
}

.grid > div img {
    width: 75px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid > div > span {
    text-align: center;
    font-size: 15.5px;
}

.grid > div > span::before {
    content: '\A';
    white-space: pre;
}

.navbar-brand img {
    width: 75px;
    height: 75px;
    background: var(--red);
    border-radius: 50%;
}

.navbar-nav .nav-link, .navbar-nav .nav-link:hover {
    color: black;
    text-decoration: none;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
    font-weight: 600;
}

.navbar-nav .nav-link.active:after {
    content: '\A';
    display: block;
    width: 10px;
    height: 10px;
    background: var(--red);
    border-radius: var(--pad);
    margin: auto;
    margin-top: 0.25rem;
}

.nav-link:hover::after {
    content: '\A';
    display: block;
    width: 10px;
    height: 10px;
    background: var(--red);
    border-radius: var(--pad);
    margin: auto;
    margin-top: 0.25rem;
}

#order-section h2::after {
   content: "";
   display: block;
   width: 3.5%;
   border-bottom: 5px solid var(--red);
   margin-left: 43%;
   padding-top: 3.5px;
}

.grid > div:hover {
    background: var(--red);
    color: var(--white);
    cursor: pointer;
}
